 .muro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
    width: 100%;
    max-width: 360px;
    height: auto;
  }

.header-container{
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background: #281100;
    box-shadow:-3px -3px 8px #9b5723,
      3px 3px 8px #6d4120;
    padding: 3%;
    margin: 3%;

  }

  .titulo-header{
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: wheat;
  
  }

  .btn-signOut{
    border: 0;
    outline: 0;
  }

/* perfil de usuario */

.perfil-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    border-radius: 5px;
    padding: 10px;
  }

  .avatar-usuario{
    width: 48px;
    height: 48px;
    background-color: transparent;
    border-radius: 50px;
  }

  .nombre-usuario-perfil{
    background-color: transparent;
    font-family: 'Didact_Gothic';
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #281100; 
  }


/* post container */

.user-post-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color:#462710;
  border-radius: 5px;
  width: 320px;
  height: 430px;
  max-height: 800px;
  overflow-y: scroll;
  padding-top: 10px;
  
}

.post-container{
width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: wheat;
margin: 5px;
border-radius: 5px;
}

.user-info{
  background-color: transparent;
}

.img-avatar {
  background-color: transparent;
  width: 30px;
}
 .user-name{
   font-family: 'Roboto-Regular';
   background-color: transparent;
   color: #281100;
   font-size: smaller;

 }

 .post-texto-container{
   background-color:transparent;
 }

 .post-texto p{
   background-color: white;
   color: #281100;
   width: 200px;
   height: fit-content;
   min-height: 100px;
   border: none;
   outline: none;
   box-shadow: 1px 3px 6px 1px rgba(40,17,0,0.69);
   margin-top: 3px;
   text-align:center;
   padding: 5px;
   font-size: smaller;

 } 
 
 .nav-vertical{
   background-color: transparent;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: #281100;
   margin-top: 5px;
 }

 .nav-vertical img{
  background-color: transparent;
   border: none;
   outline: none;
   width: 20px;
   height: 20px;
 }

 .nav-vertical a{
   text-decoration: none;
   border: none;
   outline: none;
   background-color: transparent;
 }


 /* crear post */

.crear-post{
  background-color: #76f3d05d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  border-radius: 5px;
}

.form{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.texto-input{
  font-family: 'Roboto-Regular';
  background-color: white;
  font-size: medium;
  box-shadow: 1px 3px 6px 1px rgba(40,17,0,0.69);
  color: #281100;
  text-align: center;
  border: 0;
  outline: none;
  padding: 5px;
  width: 100%;

}

.nav-post{
  background-color: transparent;
  margin: 2px;
}

.btn-editar , .btn-borrar{
  outline: none;
  border: none;
  box-shadow: 1px 3px 6px rgb(14, 248, 131);
  border-radius: 5px;
  padding: 3px;
} 



.btn-send{
  background-color: transparent;
  width: fit-content;
  margin: 5px;
  align-self:flex-end;
  border: 0;
  outline: 0;
}

.btn-send img{
  background-color: transparent;
}

.hide{
  display: none;
}





 







