
@media screen and (min-width : 900px){

  /* Portadas */
  main , section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
  }

 .portada-header-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .logo-portada{
  width: 300px;
  background-color: transparent;
 }

 .formulario-login-container , .formulario-registro-container{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   max-width: 40%;
   height: 500px;
   border-radius: 20px;
   box-shadow:  5px 5px 10px #1c0c00,
                -5px -5px 10px #341600;
   font-size: larger;
 }

 /* muro */
 .muro{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  " header header header"
  "sidebar main main"
  "footer footer footer";
  gap: 10px;

}

.header-container{
  grid-area: header;
}

.perfil-usuario{
  grid-area: sidebar;
  min-width: 200px;
}

.user-name{
  font-size: small;
}

.post{
  grid-area: main;

}

.crear-post{
  grid-area: footer;
  justify-self: stretch;
  width: 100%;


}










}