@font-face {
  font-family: 'Didact_Gothic';
  src: url(./Assets/fuentes/Didact_Gothic/DidactGothic-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(./Assets/fuentes/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Roboto-regular';
  src: url(./Assets/fuentes/Roboto/Roboto-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #281100;
  color: wheat;
  font-family: 'Didact_Gothic';
  text-align: center;
  
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 660px;
  overflow-x: hidden;
}

main , section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: auto;
  text-align: center;
  margin: 5%;
}

.portada-titulo {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0em;
  text-transform: uppercase;
  padding: 10% 0 10% 0;
}

.portada-texto{
  width: 248px;
  height: 93px;
  font-family: 'Didact_Gothic';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}



.registro-container , .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  text-align: center;
  margin: 5%;
}
.registro-header-container , .login-header-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.registro-titulo , .login-titulo, .error-titulo{
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;


}
.registro-texto , .login-texto{
  font-family: 'Didact_Gothic';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10%;

}

.formulario-registro-container form , .formulario-login-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;

}

.form-registro input , .form-login input{
width: 100%;
height: 50px;
margin: 2px;
background-color: #76f3d036;
border: none;
border-radius: 20px;
font-family: 'Roboto-regular';
font-size: 20px;
font-style:normal;
font-weight: 200;
line-height: 28px;
letter-spacing: 0em;
}





/* //// Boton switch //// */
.container-boton{
  margin-top: 20px;
}
.switch {
  position: relative;
  margin: 20px auto;
  height: 60px;
  width: 300px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  top: 12px;
  width: 45%;
  height: 100%;
  line-height: 26px;
  font-size: 18px;
  color: wheat;
  text-align: center;
  cursor: pointer;
  background: transparent;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
  
}

.switch-input:checked + .switch-label {
  position: relative;
  top: 15px;
  left: 10px;
  font-family: 'Roboto';
  color: #281100;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 0em;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {

  left: 50%;
  
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  left: 1px;
  width: 50%;
  height: 100%;
  background:#76F3D0;
  border-radius: 20px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  transition: left 0.15s ease-out;
}

.logo-google{
  background-color: transparent;
}

/* ///// vista laptops ////*/

@media screen and (min-width : 900px){
  main , section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
  }

 .portada-header-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .logo-portada{
  width: 300px;
  background-color: transparent;
 }

 .formulario-login-container , .formulario-registro-container{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   max-width: 40%;
   height: 500px;
   border-radius: 20px;
   box-shadow:  5px 5px 10px #1c0c00,
                -5px -5px 10px #341600;
   font-size: larger;
 }


}
